<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="(ingredient, i) in ingredients">{{ingredient}} ({{ i }})</li>
            </ul>
            <hr>
            <ul>
                <li v-for="(person, i) in persons">
                    <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>                    
                </li>
            </ul>
            <hr>
            <span v-for="n in 10">{{ n }}</span>
            <hr>
            <template v-for="(ingredient, i) in ingredients">
                <h1>{{ ingredient }}</h1>
                <p>{{ i }}</p>
            </template>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    ingredients: ['meat', 'fruit', 'cookies'],
                    persons: [
                        {name: 'Thiago', age: 35, color: 'red'},
                        {name: 'Carnaes', age: 35, color: 'blue'},
                    ]
                }
            })
        </script>
    </body>
</html>