<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <p v-if="show">You can see me!</p>
            <p v-else>Now you can see me!</p>
            <template v-if="show">
                <p>Inside template</p>
            </template>
            <p>Do you also see me?</p>
            <button @click="show = !show">Show</button>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    show: true
                }
            })
        </script>
    </body>
</html>