<html>

  <head>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>

  <body>

    <div id="app1">
      <h1 ref="heading">{{ title }}</h1>
      <button v-on:click="show">Show Paragraph</button>
      <p v-if="showParagraph">This is not always visible</p>
    </div>
    <div id="app2">
      <h1 ref="heading">{{ title }}</h1>
      <button v-on:click="onChange">Change in Vue1</button>
      <!-- <p v-if="showParagraph">This is not always visible</p> -->
    </div>
    <script>
      var app1 = new Vue({
        el: '#app1',
        data: {
          title: 'The VueJS Instance',
          showParagraph: false
        },
        methods: {
          show: function() {
            this.showParagraph = true;
            this.updateTitle('The VueJS Instance (Updated)');
          },
          updateTitle: function(title) {
            this.title = title;
          }
        },
        computed: {
          lowercaseTitle: function() {
            return this.title.toLowerCase();
          }
        },
        watch: {
          title: function(value) {
            alert('Title changed, new value: ' + value);
          }
        }
      });

      setTimeout(function() {
        app1.title = 'Change by timer'
      }, 3000)

      var app2 = new Vue({
        el: '#app2',
        data: {
          title: 'The second VueJS Instance',
          showParagraph: false
        },  
        methods: {
          onChange: function() {
            app1.title = 'Changed!'
          }
        }      
      });
    </script>
  </body>

</html>
